.my-navbar 
{
    background-color: rgb(0, 0, 0);
}
.navbar .navbar-brand, .navbar .navbar-nav .nav-link
{
    color: rgba(255, 255, 255, 0.733);
}
.navbar .navbar-brand:hover, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:visited
{
    color: white;
}
